* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #40bcd8;
}

body {
  background-color: #e2e2e2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#clear {
  width: 60px;
  padding: 0.2rem;
}

input[type="button"] {
  padding: 1rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1rem;
  color: var(--primary-color);
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 3px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #dcdcdc, -5px -5px 10px #e4e4e4;
}

#showresult {
  display: inline-block;
  height: 65px;
  width: 580px;
  padding: 1rem;
  border: none;
  border-radius: 3px;
  background: #e0e0e0;
  color: var(--primary-color);
  text-align: right;
  font-size: 2rem;
  outline: none;
}
